@import 'var';

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  word-break: break-all;
  word-wrap: break-word;
  outline: none;
}

html {
  overflow-y: scroll;
  font-size: 62.5%;
}

body {
  height: 100%;
  margin: 0;
  font-family: -apple-system,BlinkMacSystemFont,Helvetica Neue,Segoe UI,Hiragino Kaku Gothic ProN,Hiragino Sans,ヒラギノ角ゴ ProN W3,Arial,メイリオ,Meiryo,sans-serif;
  font-weight: 400;
  line-height: 1.5;
  color: $main;
  background: $white;
  word-wrap: break-word;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-feature-settings: "kern";
  font-feature-settings: "kern";
  -webkit-font-kerning: normal;
  font-kerning: normal;
  font-size: 1.6rem;
}

html,body{
  width: 100%;
}

table {
  width: 100%;
}

a {
  color: $main;
}

.l-wrapper {
  margin: 0 16px;
  @include pc {
    width: 880px;
    margin: 0 auto;
    padding: 0 10px;
  }
}

.l-main {
  background-color: $bg;
  padding-bottom: 40px;
}

.c-hero {
  background-color: #4158D0;
  background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
}

.c-box {
  width: 100%;
  max-width: 1000px;
  background: $white;
  box-shadow: 0 8px 10px rgba(49,70,89,.05);
  border-radius: 8px;
}

.c-summary {
  padding: 10px 0 20px 0;
  @include pc {
    padding: 20px 0 40px 0;
  }
  &__title {
    margin-bottom: 5px;
    font-size: 2.0rem;
    color: $white;
    @include pc {
      font-size: 2.6rem;
    }
  }
  &__box {
    padding: 16px;
    @include pc {
      padding: 20px;
    }
  }
  &__column {
    padding-bottom: 10px;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    line-height: 1;
    &:last-child {
      padding-bottom: 0;
      border: none;
    }
    @include pc {
      padding-bottom: 0;
      display: block;
    }
  }
  &__text {
    font-size: 1.8rem;
    @include pc {
      margin-bottom: 15px;
      text-align: center;
    }
  }
  &__number {
    font-size: 3.0rem;
    @include pc {
      text-align: center;
    }
  }
  &__people {
    font-size: 1.2rem;
  }
}
